.thumbnail {
	float: left;
	margin-right:20px;
}
.page-content > .panel-group {
	clear: both;
}

.page-content  > hgroup .btn {
	margin-bottom:10px;
}

.panel-body > ul > li {
	margin-top:10px;
	margin-bottom:10px;
}
.content-expander {
	cursor: pointer;
	color: rgb(51, 51, 51);
}
